/* Added style 2 */

/*
  CSS Reset from
  Josh: https://www.joshwcomeau.com/css/custom-css-reset/
  Andy-bell: https://andy-bell.co.uk/a-more-modern-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

address {
  font-style: normal;
}
/* Reset Ends */

/* Hides screen-reader contents */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Custom properties */
:root {
  /* primary colors */
  --pink: #d37e86;

  /* neutral colors */
  --white: hsl(0, 0%, 100%);
}

.heading {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  line-height: 2em;
  color: var(--pink);
  text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

.text {
  /* text-align: center;
  font-family: 'VT323', cursive;
  font-size: 1.8rem;
  color: var(--green); */
}

.btn {
  font-family: 'VT323', cursive;
  font-size: 2rem;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.8);
  padding: 0.25rem 1.25rem;
  border: none;
  border-radius: 9999px;
  background: none;
  background-color: var(--pink);
}

body {
  display: grid;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, minmax(100vh, auto));
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8rem 0 0;
  background-image: url('./assets/hero background.png');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__img {
  max-width: 10rem;
  margin: 0 auto 3rem;
}

.hero__btn {
  margin: 5rem 0 0;
}

.game {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-image: url('./assets/questions bg.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.game__inner {
  position: relative;
}

.game__btn {
  position: absolute;
  width: 6rem;
  aspect-ratio: 2/1;
  background: none;
  border: none;
  background-image: url('./assets/ticket.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transform: rotate(40deg);
}

.game__btn:last-of-type {
  aspect-ratio: 1/1;
  background-image: url('./assets/chest.png');
  transform: none;
}

.game__btn1 {
  top: 15%;
  right: 1rem;
}

.game__btn2 {
  top: 30%;
  left: 1rem;
}

.game__btn3 {
  top: 45%;
  right: 1rem;
}

.game__btn4 {
  top: 65%;
  left: 1rem;
}

.game__btn5 {
  bottom: 0;
  left: 50%;
}

.overlay {
  position: fixed;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: hsla(0, 0%, 0%, 0.5);
  height: 100vh;
  top: 0;
  width: 100%;
}

.overlay__inner {
  position: relative;
  margin: auto 0;
  padding: 0 0.5rem;
}

.question {
  margin: 0 auto;
  background-color: transparent;
  width: 100%;
  height: 200px;
  perspective: 1000px;
}

.question__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip .question__inner {
  transform: rotateY(180deg);
}

.question__form,
.question__hint {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  background-image: url('./assets/question.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.question__form > label {
  font-size: 1.2rem;
}

.question__form > input {
  border: none;
  border-radius: 9999px;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0 1rem;
  font-size: 1rem;
}

.question__btn {
  font-family: 'VT323', cursive;
  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.8);
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 9999px;
  background: none;
  background-color: var(--pink);
}

.question__hint {
  transform: rotateY(180deg);
}

.overlay__button {
  position: absolute;
  top: calc(-1rem - 40px);
  right: calc(50% - 20px);
  width: 40px;
  aspect-ratio: 1/1;
  color: var(--white);
  border-radius: 50%;
  border: none;
  background-color: var(--pink);
}

.hidden {
  display: none;
}
